$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "partials/animations";
@import "partials/mixins";

.navbar {
    &.bg-light {
        background-color: #fff!important;
    }
}

#pokemon-list {
    list-style: none;
    padding-left: 10px;

    .pokemon {
        position: relative;
        float: left;
        width: 265px;
        height: 350px;
        margin: 5px;
        color: #262524;
        margin-bottom: 1rem;

        & > * {
            margin: 0;
            padding: 0;
        }

        .favorite-indicator-container {
            &.is-favorite {
                color: #c0392b;
            }

            &:hover {
                @include animation('heartbeat 1s infinite');
                cursor: pointer;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;        
    }
}