$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "partials/animations";
@import "partials/mixins";

#pokemon-list {
    list-style: none;
    padding-left: 0;

    .pokemon {
        margin-bottom: 1em;
        padding-left: 0;
        padding-right: 0;

        .card-text {
            margin-bottom: 3.5rem;
        }

        .favorite-indicator-container {
            &.is-favorite {
                color: #c0392b;
            }

            &:hover {
                @include animation( 'heartbeat 1s infinite' );
                cursor: pointer;
            }
        }
    }
}